<div>
  <h1>Country</h1>
  <ul>
    <li>Capital: {{capital}}</li>
    <li>Population: {{population}}</li>
    <li>Languages:
        {{#each languages}}
            <li {{name}}</li>
        {{/each}}
    </li>
  </ul>
  <img src='{{flag}}' alt='flag of {{name}}' />
</div>