<h1>{{name}}</h1>
<div class='container'>
  <div>
    <ul class="list">
      <li class='list__item'>Capital: <p class="list__item-text">{{capital}}</p> </li>
      <li class='list__item'>Population: <p class="list__item-text">{{population}}</p> </li>
      <li class='list__item'>Languages: 
        <ul class="list">
          {{#each languages}}
            <li>{{name}}<li>
          {{/each}}
        </ul>
      </li>
    </ul>
  </div>
  <img class='img' src='{{flag}}' alt='flag of {{name}}' />
</div>